.login-section{
    background: url('../../../assests//images//lg-bg.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.login-form {
    font-family: 'BenSen', Arial, sans-serif !important;
}
::placeholder{
    color: rgb(253, 253, 253);
}

@media only screen and (max-width: 768px) {
    .login-section{
        background: url('../../../assests//images//lg-bg.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
       
    }
  }