.prayer-section {
    background: url(../../../assests//images/pattern-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'BenSen', Arial, sans-serif !important;
}