.side-bg {
    background:linear-gradient(to bottom,#231F1F 0%, rgba(0, 0, 0, 0.722) , 
    rgba(0, 0, 0, 0.785)),url('../../assests/images/card-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.custom-font{
    font-family: 'Hind Siliguri', sans-serif;
}